@import "@/styles/mixins";

.paper {

  width: 300px;
  max-height: 515px;
  overflow: auto;
  .sortButton {
    justify-content: center;
    height: 48px;
  }
}
.emptyText {
  text-align: center;
  font-size: 14px;
}
.loginName span {
  display: inline-block;
  max-width: 110px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .paper {
    max-height: 310px;
  }
}
