@import "@/styles/mixins";

.toolBar {
  justify-content: center;
  .link {
    color: var(--color-dark-600);
    text-decoration: none;
  }
  .active {
    color: var(--color-light-100);
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
  }
}
.main {
  margin-top: 55px;
  //height: calc(100vh - 64px);
}
